<%=simple_form_for(:facepost) do |f|%>
<%=f.error_notification%>
<div class="container">
<%=f.input :post,label:"Post about it", input_html:{class:"textarea"},wrapper: false,lable_html:{class:"label"},placeholder:"Compose a new post...",autofocus:true%>
<%= f.button :submit , class:"button is-info"%>
</div>
<%end%>
