<div class="section" >
<h3>Profile</h3>
<div class="card">
<div class="card-body d-flex">

<div>
<p>
<b>Name:</b> <%=current_user.name%>
</p><br/>
<p>
<b>Username:</b> <%=current_user.username%>
</p><br/>
<p>
<b>Email:</b> <%=current_user.email%>
<p>
</div><div class='ed mx-4'>
    <%=link_to edit_user_registration_path, class:"edit text-decoration-none " do%>
    <i class="bi bi-pencil-square"></i>
    <%end%>
    </div>
</div>
</div>
</div>