<section class="section">
<div class="container">
<div class="columns d-flex justify-content-evenly">
<%if user_signed_in?%>
<div class="pro"style="width:25%">
<%= render "profile"%>
</div>
<div class="container d-flex justify-content-evenly">
<div class="d-flex flex-column" style="width:60%">
<%= render "faceposts/form" %>
<%= render 'feed'%>
</div>
<div style="width:25%">
<%=render "message"%>
</div>
</div>
<%end%>


</div>
</div>
</section>

